name: Anazyzer

on:
  pull_request:
    branches:
      - master
jobs:
  package-analyze:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: axel-op/dart-package-analyzer@v3
        with:
          # Required:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          # Optional:
          # relativePath: lib
          minAnnotationLevel: info


