name: Test

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        sdk: [ 2.12.0, 2.14.0, 2.15.0, stable ]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - run: pub get
      - run: pub run test
